:root {
  --primary-color: #66fcf1;
  --accent-color: #45a29e;
  --primary-text-color: #c5c6c7;
  --background-color: #1f2833;
  --secondary-background-color: #0b0c10;
}

@font-face {
  font-family: 'Raleway';
  src: url("http://findmatthew.com/style/../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'Raleway-semibold';
  src: url("http://findmatthew.com/style/../fonts/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: 'Raleway-bold';
  src: url("http://findmatthew.com/style/../fonts/Raleway-Bold.ttf");
}

body {
  width: 100% !important;
  height: 100% !important;
  z-index: 0 !important;
  background-color: var(--background-color) !important;
  overflow: hidden !important;
}

#particles canvas {
  position: fixed;
}

/* ---- particles.js container ---- */

#particles {
  position: absolute;
  width: auto;
  height: auto;
}

div {
  display: block;
}

section {
  padding: 70px 0 70px 0;
  color: #616161;
  line-height: 11pt;
  position: relative;
}

.square {
  pointer-events: none;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: cornflowerblue;
  margin: 4px;
  display: inline-block;
}

section:nth-of-type(1) .intro-text {
  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16pt;
  line-height: 20pt;
  z-index: 1;
  pointer-events: none;
  text-align: center;
  margin: 0 0 20px 0;
}


.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.button {
  padding: 10px 20px;
  border: 2px solid var(--primary-text-color);
  box-sizing: inherit;
  display: inline-block;
  font-size: 13pt;
  transition: all .5s;
  cursor: pointer;
}

section:nth-of-type(1) .button .mdi {
  transition: transform .3s;
  position: absolute;
  right: 15px;
  top: 11px;
}

.button .mdi {
  vertical-align: middle;
}

@keyframes rotate {
  from {transform:rotate(0deg);}
  to {transform:rotate(90deg);}
}

@keyframes reverseRotate {
  from {transform:rotate(90deg);}
  to {transform:rotate(0deg);}
}

.rotate-arrow {
  margin-right: -24px;
  transform: rotate(90deg);
  animation: rotate .2s linear;
}

.arrow {
  margin-right: -24px;
  transform: rotate(0deg);
  animation: reverseRotate .2s linear;
}

.button:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

section:nth-of-type(1) {
  padding: 0 10px;
  color: #fff;
  height: calc(100vh + 53px);
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  margin-left: 30px;
  width: 100%;
}

.social-media-list li a {
  color: #d9f3ff;
}

.social-media-list li {
  position: absolute;
  top: 0;
  left: -20px;
  height: 70px;
  display: inline-grid;
  width: 70px;
  margin: 10px auto 0 10px;
  line-height: 70px;
  border-radius: 50%;
  color: #d9f3ff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #d9f3ff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #d9f3ff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #111;
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (min-width: 600px) {
  section:nth-of-type(1) .intro-text {
    font-size: 32pt;
    line-height: 36pt;
  }
}

@media screen and (min-width: 600px) {
  section {
    line-height: 18pt;
    padding: 100px 0 130px 0;
  }
}

@media screen and (min-width: 600px) {
  section:nth-of-type(1) .button {
    padding: 12px 50px 12px 20px;
  }
}

@media screen and (min-width: 600px) {
  section:nth-of-type(1) .button .mdi {
    top: 16px;
  }
}